<div class="<%= prefix %>_nom_boutique"><%= link_to 'Les séries du désordre', {:controller => 'public/desordre', :action => :boutique}, {:title => 'retourner à la boutique'} %></div>
<ul class="<%= prefix %>_liste_series">
  <% boutique = Boutique.nom(Boutique::NOM_DESORDRE).first %>
  <% for article in Article.boutique(boutique.id).premier_serie.serie_disponible.order('series.numero asc, articles.numero asc') %>
    <li><%= link_to article.serie.nom, {:controller => 'public/desordre', :action => :article, :id => article}, {:title => article.serie.description} %></li>
  <% end %>
</ul>
