<div class="<%= prefix %>_nom_boutique">Les séries du désordre</div>
<ul class="<%= prefix %>_liste_series">
  <% for serie in Boutique.nom(Boutique::NOM_DESORDRE).includes(:series).first.series %>
    <li><%= link_to serie.nom, {:controller => 'public/desordre', :action => :serie, :id => serie}, {:title => serie.description } %></li>
  <% end %>
</ul>
