<table class="sortable alternated">
  <thead>
  <th>Nom&nbsp;&nbsp;</th>
  </thead>
  <tbody>
  <% for boutique in @boutiques %>
      <tr>
        <td><%= link_to_view boutique, nil, boutique.nom %></td>
      </tr>
  <% end %>
  </tbody>
</table>

