<div class="divDraggable">
  <ul class="draggable">
    <% for serie in @series %>
        <li><%= "#{h serie.nom} (#{serie.numero})" %></li>
    <% end %>
  </ul>
</div>

<% form_for @boutique, :url => {:action => :reorder, :id => @boutique.id }, :html => {:method => :put} do |f| %>
    <table class="barreBoutons">
      <tr>
        <td><%= f.submit 'Modifier', {:id => 'updateButton'} %></td>
        <td><%= link_to 'Afficher', :action => :show, :id => @boutique %></td>
      </tr>
    </table>
<% end %>

