@import public/constants.sass

#boutique_terrier_bulle
  position: absolute
  top: 130px
  left: 400px

#boutique_terrier_info_boutiques
  position: absolute
  top: 180px
  left: 0

.boutique_terrier_cadre
  position: absolute

.boutique_terrier_image
  position: absolute
  height = !hauteur_image_visible_cadre_terrier_moyen
  width = !largeur_image_visible_cadre_terrier_moyen
  display: table
  div
    text-align: center
    display: table-cell
    vertical-align: middle
    img
      max-height = !hauteur_image_visible_cadre_terrier_moyen
      max-width = !largeur_image_visible_cadre_terrier_moyen

!boutique_terrier_top_0 = 342px
!boutique_terrier_top_1 = 601px
!boutique_terrier_left_0 = 281px
!boutique_terrier_left_1 = 476px
!boutique_terrier_left_2 = 671px
!boutique_terrier_left_3 = 866px

#boutique_terrier_cadre_0
  top = !boutique_terrier_top_0 - 1px
  left = !boutique_terrier_left_0
#boutique_terrier_image_0
  top = !boutique_terrier_top_0 + !hauteur_bord_haut_cadre_terrier_moyen - 1px
  left = !boutique_terrier_left_0 + !largeur_bord_gauche_cadre_terrier_moyen

#boutique_terrier_cadre_1
  top = !boutique_terrier_top_0
  left = !boutique_terrier_left_1
#boutique_terrier_image_1
  top = !boutique_terrier_top_0 + !hauteur_bord_haut_cadre_terrier_moyen
  left = !boutique_terrier_left_1 + !largeur_bord_gauche_cadre_terrier_moyen

#boutique_terrier_cadre_2
  top = !boutique_terrier_top_0 + 1px
  left = !boutique_terrier_left_2
#boutique_terrier_image_2
  top = !boutique_terrier_top_0 + !hauteur_bord_haut_cadre_terrier_moyen + 1px
  left = !boutique_terrier_left_2 + !largeur_bord_gauche_cadre_terrier_moyen

#boutique_terrier_cadre_3
  top = !boutique_terrier_top_0
  left = !boutique_terrier_left_3
#boutique_terrier_image_3
  top = !boutique_terrier_top_0 + !hauteur_bord_haut_cadre_terrier_moyen
  left = !boutique_terrier_left_3 + !largeur_bord_gauche_cadre_terrier_moyen

#boutique_terrier_cadre_4
  top = !boutique_terrier_top_1 - 1px
  left = !boutique_terrier_left_0
#boutique_terrier_image_4
  top = !boutique_terrier_top_1 + !hauteur_bord_haut_cadre_terrier_moyen - 1px
  left = !boutique_terrier_left_0 + !largeur_bord_gauche_cadre_terrier_moyen

#boutique_terrier_cadre_5
  top = !boutique_terrier_top_1
  left = !boutique_terrier_left_1
#boutique_terrier_image_5
  top = !boutique_terrier_top_1 + !hauteur_bord_haut_cadre_terrier_moyen
  left = !boutique_terrier_left_1 + !largeur_bord_gauche_cadre_terrier_moyen

#boutique_terrier_cadre_6
  top = !boutique_terrier_top_1
  left = !boutique_terrier_left_2
#boutique_terrier_image_6
  top = !boutique_terrier_top_1 + !hauteur_bord_haut_cadre_terrier_moyen
  left = !boutique_terrier_left_2 + !largeur_bord_gauche_cadre_terrier_moyen

#boutique_terrier_cadre_7
  top = !boutique_terrier_top_1
  left = !boutique_terrier_left_3 - 1px
#boutique_terrier_image_7
  top = !boutique_terrier_top_1 + !hauteur_bord_haut_cadre_terrier_moyen - 1px
  left = !boutique_terrier_left_3 + !largeur_bord_gauche_cadre_terrier_moyen

!boutique_terrier_predelle_top = 860px
!boutique_terrier_predelle_left = 282px

#boutique_terrier_predelle_cadres
  position: absolute
  top = !boutique_terrier_predelle_top
  left = !boutique_terrier_predelle_left
  li
    display: inline
    list-style: none
    padding-right: 4px

.boutique_terrier_predelle_image
  position: absolute
  top = !boutique_terrier_predelle_top + !hauteur_bord_haut_cadre_terrier_minuscule
  height = !hauteur_image_visible_cadre_terrier_minuscule
  width = !largeur_image_visible_cadre_terrier_minuscule
  display: table
  div
    text-align: center
    display: table-cell
    vertical-align: middle
    img
      max-height = !hauteur_image_visible_cadre_terrier_minuscule
      max-width = !largeur_image_visible_cadre_terrier_minuscule

!boutique_terrier_decallage_image_predelle = 108px
#boutique_terrier_predelle_image_0
  left = !boutique_terrier_predelle_left + !largeur_bord_gauche_cadre_terrier_minuscule
#boutique_terrier_predelle_image_1
  left = !boutique_terrier_predelle_left + !largeur_bord_gauche_cadre_terrier_minuscule + !boutique_terrier_decallage_image_predelle
#boutique_terrier_predelle_image_2
  left = !boutique_terrier_predelle_left + !largeur_bord_gauche_cadre_terrier_minuscule + (2 * !boutique_terrier_decallage_image_predelle) + 2px
#boutique_terrier_predelle_image_3
  left = !boutique_terrier_predelle_left + !largeur_bord_gauche_cadre_terrier_minuscule + (3 * !boutique_terrier_decallage_image_predelle) + 4px
#boutique_terrier_predelle_image_4
  left = !boutique_terrier_predelle_left + !largeur_bord_gauche_cadre_terrier_minuscule + (4 * !boutique_terrier_decallage_image_predelle) + 6px
#boutique_terrier_predelle_image_5
  left = !boutique_terrier_predelle_left + !largeur_bord_gauche_cadre_terrier_minuscule + (5 * !boutique_terrier_decallage_image_predelle) + 8px
#boutique_terrier_predelle_image_6
  left = !boutique_terrier_predelle_left + !largeur_bord_gauche_cadre_terrier_minuscule + (6 * !boutique_terrier_decallage_image_predelle) + 10px
