.image_haut
  position: absolute

.label_haut
  position: absolute
  top: 65px
  font-size: 10px
  a
    font-weight: normal

#haut_timbre
  top: 30px
  left: 640px

#haut_panier
  top: 33px
  left: 680px

#haut_aide
  top: 20px
  left: 735px
  a
    img
      height: 45px
      
#haut_desordre
  top: 30px
  left: 780px

#haut_terrier
  top: 0px
  left: 820px


#haut_timbre_label
  left: 640px

#haut_panier_label
  left: 690px

#haut_aide_label
  left: 740px

#haut_desordre_label
  left: 775px

#haut_terrier_label
  left: 830px

// la notification
.flash
  position: absolute
  top: 2px
  left: 2px
  font-size: 12px
  z-index: 2
  background-color: white
#notice
  border: 2px solid green
#alert
  border: 2px solid red
