@import public/constants.sass

#s_descriptif
  position: absolute
  left: 17px
  top: 180px
  width: 226px
  font-size: 10px

#s_descriptif p
  padding-bottom: 10px

#s_bulle_desordre
  position: absolute
  top: 102px
  left: 300px

!sommaire_cadre_desordre_hauteur = 190px

.s_cadre_desordre
  position: absolute
  top = !sommaire_cadre_desordre_hauteur

.s_image_desordre
  position: absolute
  top = !sommaire_cadre_desordre_hauteur + !hauteur_bord_haut_cadre_desordre_moyen
  height = !hauteur_image_visible_cadre_desordre_moyen
  width = !largeur_image_visible_cadre_desordre_moyen
  display: table
  div
    text-align: center
    display: table-cell
    vertical-align: middle
    img
      max-height = !hauteur_image_visible_cadre_desordre_moyen
      max-width = !largeur_image_visible_cadre_desordre_moyen
      width: expression(this.width > 98 ? 98: true)

!sommaire_desordre_decalage_cadre = 120px
!sommaire_desordre_cadre_0 = 269px
!sommaire_desordre_cadre_1 = !sommaire_desordre_cadre_0 + (1 * !sommaire_desordre_decalage_cadre)
!sommaire_desordre_cadre_2 = !sommaire_desordre_cadre_0 + (2 * !sommaire_desordre_decalage_cadre)
!sommaire_desordre_cadre_3 = !sommaire_desordre_cadre_0 + (3 * !sommaire_desordre_decalage_cadre)
!sommaire_desordre_cadre_4 = !sommaire_desordre_cadre_0 + (4 * !sommaire_desordre_decalage_cadre)

#s_cadre_desordre_0
  left = !sommaire_desordre_cadre_0
#s_image_desordre_0
  left = !sommaire_desordre_cadre_0 + !largeur_bord_gauche_cadre_desordre_moyen

#s_cadre_desordre_1
  left = !sommaire_desordre_cadre_1
#s_image_desordre_1
  left = !sommaire_desordre_cadre_1+ !largeur_bord_gauche_cadre_desordre_moyen

#s_cadre_desordre_2
  left = !sommaire_desordre_cadre_2
#s_image_desordre_2
  left = !sommaire_desordre_cadre_2 + !largeur_bord_gauche_cadre_desordre_moyen

#s_cadre_desordre_3
  left = !sommaire_desordre_cadre_3
#s_image_desordre_3
  left = !sommaire_desordre_cadre_3 + !largeur_bord_gauche_cadre_desordre_moyen

#s_cadre_desordre_4
  left = !sommaire_desordre_cadre_4
#s_image_desordre_4
  left = !sommaire_desordre_cadre_4 + !largeur_bord_gauche_cadre_desordre_moyen



#s_bulle_terrier
  position: absolute
  top: 315px
  left: 305px

!sommaire_cadre_terrier_hauteur = 415px

.s_cadre_terrier
  position: absolute
  top = !sommaire_cadre_terrier_hauteur

.s_image_terrier
  position: absolute
  top = !sommaire_cadre_terrier_hauteur + !hauteur_bord_haut_cadre_terrier_moyen
  display: table
  height = !hauteur_image_visible_cadre_terrier_moyen
  width = !largeur_image_visible_cadre_terrier_moyen
  div
    text-align: center
    display: table-cell
    vertical-align: middle
    img
      max-height = !hauteur_image_visible_cadre_terrier_moyen
      max-width = !largeur_image_visible_cadre_terrier_moyen
      width: expression(this.width > 98 ? 98: true)

!sommaire_terrier_decalage_cadre = 140px
!sommaire_terrier_cadre_0 = 279px
!sommaire_terrier_cadre_1 = !sommaire_terrier_cadre_0 + (1 * !sommaire_terrier_decalage_cadre)
!sommaire_terrier_cadre_2 = !sommaire_terrier_cadre_0 + (2 * !sommaire_terrier_decalage_cadre)
!sommaire_terrier_cadre_3 = !sommaire_terrier_cadre_0 + (3 * !sommaire_terrier_decalage_cadre)

#s_cadre_terrier_0
  left = !sommaire_terrier_cadre_0
#s_image_terrier_0
  left = !sommaire_terrier_cadre_0 + !largeur_bord_gauche_cadre_terrier_moyen

#s_cadre_terrier_1
  left = !sommaire_terrier_cadre_1
#s_image_terrier_1
  left = !sommaire_terrier_cadre_1 + !largeur_bord_gauche_cadre_terrier_moyen

#s_cadre_terrier_2
  left = !sommaire_terrier_cadre_2
#s_image_terrier_2
  left = !sommaire_terrier_cadre_2 + !largeur_bord_gauche_cadre_terrier_moyen

#s_cadre_terrier_3
  left = !sommaire_terrier_cadre_3
#s_image_terrier_3
  left = !sommaire_terrier_cadre_3 + !largeur_bord_gauche_cadre_terrier_moyen

