#sommaire_descriptif
  position: absolute
  left: 17px
  top: 180px
  width: 226px
  
  font-size: 10px

#sommaire_descriptif p
  padding-bottom: 10px

#sommaire_bulle_desordre
  position: absolute
  top: 167px
  left: 275px

#sommaire_bulle_terrier
  position: absolute
  top: 605px
  left: 305px

