body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: black;
  background-color: white; }

* {
  margin: 0px;
  padding: 0px;
  border: 0px; }

#logo {
  position: absolute;
  top: 16px;
  left: 0px; }

a {
  font-weight: bold;
  color: black;
  text-decoration: none; }

.image_haut {
  position: absolute; }

#haut_timbre {
  top: 30px;
  left: 592px; }

#haut_timbre > a > img {
  height: 50px;
  width: 50px; }

#haut_panier {
  top: 33px;
  left: 647px; }

#haut_panier > a > img {
  height: 47px;
  width: 75px; }

#haut_aide {
  top: 10px;
  left: 720px; }

#haut_aide > a > img {
  height: 70px;
  width: 70px; }

#haut_desordre {
  top: 10px;
  left: 790px; }

#haut_desordre > a > img {
  height: 70px; }

#haut_terrier {
  top: 5px;
  left: 870px; }

#haut_terrier > a > img {
  height: 75px; }

#sommaire_descriptif {
  position: absolute;
  left: 17px;
  top: 180px;
  width: 226px;
  font-size: 10px; }

#sommaire_descriptif p {
  padding-bottom: 10px; }

#sommaire_bulle_desordre {
  position: absolute;
  top: 167px;
  left: 275px; }

#sommaire_bulle_terrier {
  position: absolute;
  top: 605px;
  left: 305px; }

.sommaire_cadre_desordre {
  position: absolute;
  top: 330px; }

.sommaire_image_desordre {
  position: absolute;
  top: 350px;
  height: 210px;
  width: 210px; }

#sommaire_cadre_desordre_0 {
  left: 264px; }

#sommaire_image_desordre_0 {
  left: 284px; }

#sommaire_cadre_desordre_1 {
  left: 538px; }

#sommaire_image_desordre_1 {
  left: 558px; }

#sommaire_cadre_desordre_2 {
  left: 812px; }

#sommaire_image_desordre_2 {
  left: 832px; }

.sommaire_cadre_terrier {
  position: absolute;
  top: 821px; }

.sommaire_image_terrier {
  position: absolute;
  top: 836px;
  width: 145px;
  height: 207px; }

#sommaire_cadre_terrier_0 {
  left: 279px; }

#sommaire_image_terrier_0 {
  left: 294px; }

#sommaire_cadre_terrier_1 {
  left: 473px; }

#sommaire_image_terrier_1 {
  left: 498px; }

#sommaire_cadre_terrier_2 {
  left: 667px; }

#sommaire_image_terrier_2 {
  left: 683px; }

#sommaire_cadre_terrier_3 {
  left: 861px; }

#sommaire_image_terrier_3 {
  left: 876px; }
