<div><%= link_to image_tag('boutons/bouton.jpg', :alt => 'la boutique du désordre', :id => 'boutique_logo_desordre'), {:action => :boutique_desordre}, {:title => 'La boutique du désordre'} %></div>
<div class="boutique_nom_boutique">Les séries du désordre</div>
<ul class="boutique_liste_series">
  <% for serie in boutique_desordre.series %>
    <li><%= link_to serie.nom, {:action => :serie_desordre, :id => serie}, {:title => serie.description } %></li>
  <% end %>
</ul>