#ac_nom_article
  font:
    weight: bold
    size: 12px
  padding:
    bottom: 5px
    left: 20px

#ac_description_article
  font-size: 10px
  list-style: none
  padding:
    bottom: 5px
    left: 20px
  @include underline-link

#ac_prix_article
  font-size: 12px
  padding-left: 20px
  padding-bottom: 5px

#ac_ajouter_panier
  padding-left: 15px
  input
    cursor: pointer

#ac_image
  text-align: center
  img
    max-height: 350px
    max-width: 350px
  font-size: 10px
  @include underline-link
  padding-bottom: 20px
  min-height: 250px

#ac_scroll_gauche
  opacity: 0.5
  filter: alpha(opacity=50)

#ac_descriptif_serie
  position: absolute
  top: 180px
  left: 20px
  width: 150px

.ac_nom_serie
  font-size: 10px
  padding-top: 10px
  text-align: center

.ac_description_longue
  font-size: 10px
  padding-top: 10px
  text-align: justify

.ac_nom_boutique
  font-weight: bold
  font-size: 14px
  width: 200px
  a:hover
    text-decoration: underline

.ac_liste_series
  @include underline-link
  li
    font-size: 10px
    list-style: none
    line-height: 14px
