<table class="sortable alternated">
  <thead>
  <th>&nbsp;&nbsp;</th>
  <th>Nom&nbsp;&nbsp;</th>
  <th>Email&nbsp;&nbsp;</th>
  </thead>
  <tbody>
  <% for user in @utilisateurs %>
      <tr>
        <td><%= link_to_view user, nil, 'Voir' %></td>
        <td><%= h user.nom %></td>
        <td><%= h user.email %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<% if @site_admin %>

    <table class="barreBoutons">
      <tr>
        <td><%= link_to 'Nouvel utilisateur-rice', :action => :new %></td>
      </tr>
    </table>
<% end %>
