  <div class="<%= prefix %>_nom_boutique"><%= link_to 'Les œuvres du terrier', {:controller => 'public/terrier', :action => :boutique}, {:title => 'retourner à la boutique'} %></div>
  <ul class="<%= prefix %>_liste_series">
    <% for serie in Boutique.nom(Boutique::NOM_TERRIER).includes(:series).first.series %>
      <li><%= link_to serie.nom, {:controller => 'public/terrier', :action => :serie, :id => serie}, {:title => serie.description } %></li>
    <% end %>
  </ul>